body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-task-container {
        width: 500px;
        max-width: 100%;
        height: 400px;
        display: grid;
        place-content: center;
    }

    textarea {
        height: 100px;
        width: 150px;
        resize: none;
      }

    button {
        width: 80px;
    }

    form {
        display: flex;


        .segment {
            display: flex;
            flex-direction: column;
            margin: 4px;
            position: relative;

            .cancel {
                position: absolute;
                right: 80px;
                bottom: 16px;
            }

            .add {
                position: absolute;
                right: 0px;
                bottom: 16px;
            }
        }

    }




}